<%- include("partials/header"); -%>

<!-- middle contents -->
<section id="about" class="content">
  <div class="container-md">
    <h1>About Us</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      Egestas pretium aenean pharetra magna. Amet venenatis urna cursus eget nunc scelerisque viverra mauris in. Pharetra pharetra massa massa
      ultricies mi quis hendrerit dolor magna. Nunc mattis enim ut tellus elementum sagittis vitae et. Quisque id diam vel quam elementum pulvinar.
      Lectus mauris ultrices eros in cursus turpis. Porttitor eget dolor morbi non arcu risus quis. Cras tincidunt lobortis feugiat vivamus at
      augue eget. Dictum sit amet justo donec enim diam. Ut sem viverra aliquet eget. Et tortor at risus viverra adipiscing at in.</p>
  </div>
</section>

<%- include("partials/footer"); -%>
