<%- include("partials/header"); -%>

<!-- middle contents -->
<section id="contact" class="content">
  <div class="container-md">
    <h1>Contact Us At:</h1>
    <p>Mail: <br> example@gmail.com</p>
    <p>Phone: <br> 0000000000</p>
    <p>WhatsApp: <br> 0000000001</p>
  </div>
</section>

<%- include("partials/footer"); -%>
